// Card Component Stylesheet
// ========================================

.card {
  padding: $spacer-m;
  background-color: $offwhite;
  border: 1.2px solid $darkgreen;
  width: 65px;
  height: 65px;
  //margin-bottom: $spacer-m;

    .color-block {
      width: 55px;
      height: 55px;
      margin: auto;

    }
}
