// Card Component Stylesheet
// ========================================

.card {
  padding: $spacer-m;
  background-color: $offwhite;
  border: 1.2px solid $darkgreen;
  width: 65px;
  height: 65px;
  //margin-bottom: $spacer-m;
}

.background--darkgreen, .background--pink, .background--lightgreen, .background--pinkgrey, .background--greengrey, .background--brown {
      width: 60px;
      height: 60px;
      margin: auto;
    }
