// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================
body {
  background-color: $offwhite;
  font-family: 'nunito';
  color: $darkgreen;

}

.header {

  &__figure--logo {
    width: 280px;
    margin: auto;
    margin-top: 9px;


  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-left: 50px;


  }

      &__navigation--link {
        display: inline;
        padding-right: 8px;

      }

}

.main {
  padding: $spacer-m;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {

      h1 {
        padding-bottom: $spacer-m;
        text-align: center;
      }
      p {
        background-color: $pink;
        border-radius: 10px;
        padding: $spacer-lg;
        margin-top: 21px;
      }

    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;

    &--colorblock{
      display: flex;
    }
}



.footer {
  background-color:$darkgreen;


  &__navigation {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    background-color: $pink;


  }

      &__navigation--link {
        display: inline;
        padding-right: 8px;
        color: $pink;
  }
          &__navigation--link :hover{
          color: $offwhite;
        }


}

.flex-container {
  width:100%;
  max-width: 350px;
  display: flex;
  justify-content: space-around;
}
